%h1 Auctions
%hr

- if not @auctions.empty?
  = render :partial => 'auction', :collection => @auctions
- elsif dealer?
  %h2 You're not running any auctions right now
  %br

  %a.btn.btn-primary{:href => new_auction_path} Auction a car &rarr;
- else
  %h3 Sorry, but there aren't any cars for you to bid on today