:javascript
  $(function() {
    $('.auction-timer').countdown({
      date: "#{j (@auction.ends_at + 1.hour).strftime("%B %d, %Y %H:%M:%S").downcase}",
      onComplete: function() { window.reload(); },
      leadingZero: false
    });

    $('.bid-button').click(function() {
      setTimeout(function() {
        var amount = +$('input.bid-amount').val();
        $('.bid-amount').val(amount + 1000);
        $('.current-bid').text(amount.toString());
      }, 250);
    });
  });

%h2
  Auction for
  = @auction.car.title

%i
  Ends in
  = distance_of_time_in_words Time.now, @auction.ends_at

.well
  .row
    .car-hero
      %img{:src => "http://www.breienmetplezier.nl/Breipatronen/vergrotingen/brum.gif"}
  %br

  .row
    %h1.span6.offset3.auction-timer{:class => (@auction.ends_at < 1.day.from_now) ? "almost-finished" : ""}

.well
  .row
    %h2.span3 Bid on this car

  .row
    %h3.span8
      Current bid: £
      .current-bid{:style => "display:inline"}= @auction.current_bid

  %br
  .row
    .span2
      I want to buy this for 
  .row
    .span4
      &pound;
      %input.bid-amount{:type => "number", :value => @auction.minimum_next_bid}

    .span1{:style => "margin-left: -50px"}
      %button.btn.btn-danger.bid-button{:type => 'submit'} Bid