.hero-unit
  %h1 Find your next car
  %br

  %p
    Search by make and model within Northern Ireland
    %br

    %input.search-query{:placeholder => "Search"}
    %a.btn.btn-primary Search

%a.btn.btn-primary{:href => auctions_path} View today's auctions &rarr;