.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{:'data-toggle' => "collapse", :'data-target' => ".nav-collapse"}
        %span.icon-bar/
        %span.icon-bar/
        %span.icon-bar/

      %a.brand{:href => "#"} Autobid
      .nav-collapse
        %ul.nav
          %li.active
            %a{:href => '#'} Search
          %li
            %a{:href => '#'} About
          %li
            %a{:href => '#'} Contact

        %ul.nav.pull-right
          %li
            %a{:href => '#'} Register

          %li.divider-vertical
          %li.dropdown
            %a.dropdown-toggle{:href => '#', :'data-toggle' => 'dropdown'}
              Login
              %b.caret
            %ul.dropdown-menu
              %form.well
                %li
                  %input{:value => "Username"}
                %li
                  %input{:value => "Password", :type => "password"}
                %li.divider
                %li
                  %button.btn.btn-primary{:type => 'submit'} Login