.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{:'data-toggle' => "collapse", :'data-target' => ".nav-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      %a.brand{:href => root_url} Autobid
      .nav-collapse
        %ul.nav
          %li.active
            %a{:href => root_url}
              %i.icon-search
              Search
          %li
            %a{:href => '#'}
              %i.icon-info-sign
              About

        %ul.nav.pull-right
          - if current_dealer.present?
            %li.dropdown
              %a.dropdown-toggle{:href => '#', :'data-toggle' => 'dropdown'}
                Logged in as
                = current_dealer.name
                %b.caret

              %ul.dropdown-menu
                %li
                  = link_to "Logout", logout_path

          - else
            %li
              = link_to "Register", new_dealer_path
            %li.divider-vertical

            %li.dropdown
              %a.dropdown-toggle{:href => '#', :'data-toggle' => 'dropdown'}
                Login
                %b.caret

              %ul.dropdown-menu
                %form.well{:action => login_path, :method => 'post'}
                  %li
                    %input{:name => 'email', :value => "email@address.com"}
                  %li
                    %input{:name => 'password', :value => "Password", :type => "password"}
                  %li.divider

                  %li
                    %button.btn.btn-primary{:type => 'submit'} Login